.main-content-about{
    font-family: 'Roboto Mono', monospace;
    padding-top: 6rem;
}
.about-h{
    font-size: 1rem;
    letter-spacing: 0.2rem;
    color: var(--white);
}

.about-h::after{
    content: "";
    display: block;
    position: relative;
    left:70%;
    top: -12px;
    width: 20vw;
    height: 1px;
    margin-left: 20px;
    background-color: var(--dark);
}

.about-h span{
    color: var(--green);
}

.about-img-wrapper{
    border: 2px solid var(--green);
    border-radius: 5px;
    width: 40vw;
    height: 40vw;
    margin:5rem auto;
    opacity: 90%;
}

.about-content img{
position: relative;
border-radius: 5px;
left:-20px;
top:-20px;
width:40vw;
height: 40vw;
}

.about-img-wrapper:hover{
animation: about-img-wrapper-hover 0.5s forwards;
opacity: 100%;
}

@keyframes about-img-wrapper-hover{
0%{
    transform: translate(0, 0);
}
100%{
    transform: translate(0, -2px);
}
}



@media only screen and (min-width:300px) {

      .about-h::after{
        left:50%;
        top: -12px;
        width: 35vw;
    }
     
  }
  @media only screen and (min-width:400px) {

    .about-h::after{
      left:40%;
      top: -12px;
      width: 35vw;
  }
   
}

@media only screen and (min-width: 768px) {

    .about-content{
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap:50px;
        text-align: justify;
        text-justify: inter-word;
    }

    .about-img-wrapper{
        width: 20vw;
        height: 20vw;
    }

    .about-content img{
        width:20vw;
        height: 20vw;
        }
     
    .about-h{
         font-size: 1.5rem;
      }

      .about-h::after{
        left:40%;
        top: -12px;
        width: 40vw;
    }

    .about-skills{
         display: grid;
         grid-template-columns: 1fr 1fr;
         gap:20px;
         list-style: none;
    }
    .about-skills li::before {
        content: "▹";
        color: var(--green);
        font-weight: bold; 
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }


  }
  @media only screen and (min-width: 1024px){
    .main-content-about{
        padding-top: 10rem;
    }

    .about-h::after{
        left:30%;
        top: -12px;
        width: 30vw;
    }
  }

