.main-content-section{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 6rem;
    background-color: inherit;
}
.section-h-gen{
    font-size: 1rem;
    letter-spacing: 0.2rem;
    color: var(--white);
}

.section-h::after{
    content: "";
    display: block;
    position: relative;
    left:78%;
    top: -12px;
    width: 20vw;
    height: 1px;
    margin-left: 20px;
    background-color: var(--dark);
}

.about-skills li{
    list-style: none;
}

.about-skills li::before {
    content: "▹";
    color: var(--green);
    font-weight: bold; 
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

.section-no{
    color: var(--green);
}

.about-img-wrapper{
    border: 2px solid var(--green);
    border-radius: 5px;
    width: 40vw;
    height: 40vw;
    margin:5rem auto;
    opacity: 80%;
    z-index: -1;
}

.about-img-wrapper:hover{
    animation: about-img-wrapper-hover 0.5s forwards !important;
    opacity: 90%;
}

@keyframes about-img-wrapper-hover{
    0%{
        transform: translate(0, 0);
    }
    100%{
        transform: translate(0, -2px);
    }
}

.section-content img{
position: relative;
border-radius: 5px;
left:-20px;
top:-20px;
width:40vw;
height: 40vw;
z-index:-1;
}


@media only screen and (min-width:300px) {

      .section-h::after{
        left:50%;
        top: -12px;
        width: 35vw;
    }
     
  }

  @media only screen and (min-width:400px) {

    .section-h::after{
      left:45%;
      top: -12px;
      width: 35vw;
  }
   
}

@media only screen and (min-width: 768px) {

    .section-content{
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap:50px;
        text-align: justify;
        text-justify: inter-word;
        padding-top:2rem;
    }
    
    .main-content-desc{
        margin-top:0;
    }



    .about-img-wrapper{
        width: 20vw;
        height: 20vw;
    }

    .section-content img{
        width:20vw;
        height: 20vw;
        }
     
    .section-h-gen{
         font-size: 1.5rem;
      }

      .section-h::after{
        left:40%;
        top: -12px;
        width: 40vw;
    }

    .about-skills{
         display: grid;
         grid-template-columns: 1fr 1fr;
         gap:20px;
         list-style: none;
    }

  }
  
  @media only screen and (min-width: 1024px){
    .main-content-section{
        padding-top: 10rem;
    }

    .section-h::after{
        left:27% !important;
        top: -12px;
        width: 30vw;
    }
  }

  @media only screen and (min-width: 1200px){
    .section-h::after{
        left:20% !important;
        top: -12px;
        width: 30vw;
    }
  }

  .ann{
      height:200px !important;
  }

