.open{
    display: flex;
    flex-direction: column;
}

.close{
display: none;
}
.long{
    height: 100vh;
    z-index:1;
}
.short{
height:auto;
}
.burger-wrapper{
    position:fixed;
    justify-content: center;
    align-items: center;
    top:0;
    padding: 1rem;
    background-color: var(--navy);
    width: 200px; 
}

.burger-menu{
    fill: var(--green);
    margin:0 auto;
}

.navbar-icon{
    padding:0;
}

.navbar-item{
    background-color: transparent;
    display: block;
    width:150px;
    margin: 0 auto !important;
    justify-content: center !important;
}

.s-navbar-item{
    display:flex;
    height:100px;
    padding:40px;
    text-align: center;
    margin: 0 !important;
}


