@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,400;1,700&family=Roboto+Mono:ital,wght@0,400;1,600&display=swap');

.main-wrapper{
    display: flex;    
}
.main-content{
    padding: 1rem;
    width: 80%;
}

.main-content-intro{
max-width: 75%;
}

.main-content-intro h1{
   font-size: 4rem;
   margin:0;
   color: var(--white);
}

.main-content-intro h2{
    font-size: 3rem;
    margin:0.5rem 0 0 0;
    color: var(--gray);
 }

.main-content-p{
    font-size: 1rem;
    letter-spacing: 0.2rem;
    color: var(--green);
 }

.main-content-desc{
    font-size: 1rem;
    margin: 1rem 0 0 0;
    color: var(--gray);
}

.main-content-desc a{
    text-decoration: none;
    color: var(--green);
}
.left-nav{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width:10%;
    height:100vh;
    padding-right:40px;
}
.left-nav-social{
    display: flex;
    gap: 30px;
    flex-direction: column;
    margin: 0 auto;
    position: sticky;
    /* bottom: 3rem; */
    list-style:none;
    position:fixed;
    bottom:0px;
}

.nav-line{
height: 200px;
background-color: var(--gray);
width: 1px;
margin:0 auto;

}

.right-nav{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width:10%;
    height:100vh;
    padding-left: 40px;
}
.right-nav-list{
    display: flex;
    gap: 30px;
    flex-direction: column;
    margin:0 40px 0 0;
    position: fixed;
    bottom: 0;
    list-style:none;
    justify-content: center;
    align-items: center;
    padding:0px;
    width:30px;
}
.right-nav-website{
   transform: rotate(90deg); 
   margin-bottom: 60px;
}








