@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,400;1,700&family=Roboto+Mono:ital,wght@0,400;1,600&display=swap');

.main-wrapper{
    display: flex;    
}
.main-content{
    padding: 3rem 2rem 2rem 2rem;
    width: 100vh;
}

.main-content-intro h1{
   font-size: 2rem;
   margin:0;
   color: var(--white);
}

.main-content-intro h2{
    font-size: 1.5rem;
    margin:0.5rem 0 0 0;
    color: var(--gray);
 }

.main-content-p{
    font-size: 0.75rem;
    letter-spacing: 0.2rem;
    color: var(--green);
 }

.main-content-desc{
    font-size: 0.75rem;
    margin: 1rem 0 0 0;
    color: var(--gray);
}

.main-content-desc a{
    text-decoration: none;
    color: var(--green);
}
.side-nav{
    display: none;
}

/* @media only screen and (min-width: 480px){
    .main-content{
        padding-top: 3rem;
    }
} */

@media only screen and (min-width: 768px) {
    .main-content{
        padding-top: 4rem;
    }

    .main-content-intro h1{
        font-size: 4rem;
     }
     
    .main-content-intro h2{
         font-size: 3rem;
      }
     
    .main-content-p{
         font-size: 1rem;
      }
     
    .main-content-desc{
         font-size: 1rem;
     }
     
    .side-nav{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width:10%;
        height:100vh;
        padding-right:40px;
    }

    .side-nav-list{
        display: flex;
        gap: 30px;
        flex-direction: column;
        margin: 0 auto;
        position: sticky;
        list-style:none;
        position:fixed;
        bottom:0px;
    }
    
    .nav-line{
    height: 200px;
    background-color: var(--gray);
    width: 1px;
    margin:0 auto;
    
    }
    
    .right-nav{
        padding-right:0px;
        
    }
    .right-nav-list{
        gap: 45px;
        right: -25px;
    }
    .right-nav-website{
       transform: rotate(90deg); 
       margin-bottom: 60px;
    }

  }

  @media only screen and (min-width: 1024px){
    .main-content{
        padding-top: 6rem;
    }
    .main-content-intro{
        max-width: 90%;
    }
  }







