@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,400;1,700&family=Roboto+Mono:ital,wght@0,400;1,600&display=swap');

.navbar-wrapper{
    width: 100%;
    display:block;
    height:80px;
    position:sticky;
    top:0;
    background-color: var(--navy);
    opacity: 0.8;
}
.navbar-menu{
    background-color: transparent;
    align-items: center;
    padding: 2rem;
    margin: 0;
}
.s-nav{
display:flex;
justify-content: flex-end;
}

.s-nav-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10%;
}


.l-nav{
display:none;
}

.navbar-item a:hover{
    color: var(--green);
}

.navbar-logo{
    margin-right: auto;
    color: var(--green)
}

.navbar-menu li{
    list-style: none;
    margin: 0 0 0 2rem;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.9rem;
}

.navbar-menu li a{
    text-decoration: none;
    color: var(--white);
}
.navbar-menu li a span{
    text-decoration: none;
    color: var(--green);
}

@media only screen and (min-width: 768px) {
    .l-nav{
        display:block;
        justify-content: flex-end;
        }
        .l-nav-list{
            display:flex;
            justify-content: flex-end;
            }
        .s-nav{
        display:none;
        }
  }
