.section-h-proj::after{
    content: "";
    display: block;
    position: relative;
    left:80%;
    top: -12px;
    width: 20vw;
    height: 1px;
    margin-left: 20px;
    background-color: var(--dark);
}

.project-content{
  position: relative;
  display:grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: 50px 50px 50px 50px 50px;
}

.proj-imgs{
background-color: red;
grid-area: 1/1/6/5;
}

.proj-exp{
  display:flex;
  flex-direction: column;
    background-color: blue;
    grid-area:2/4/6/7;
}

@media only screen and (min-width:300px) {

    .section-h::after{
      left:50%;
      top: -12px;
      width: 35vw;
  }
   
}
@media only screen and (min-width:400px) {

  .section-h::after{
    left:45%;
    top: -12px;
    width: 35vw;
}
 
}

@media only screen and (min-width: 768px) {

    .section-h-proj::after{
      left:40%;
      top: -12px;
      width: 40vw;
  }
}
@media only screen and (min-width: 1024px){

  .section-h-proj::after{
      left:60%;
      top: -12px;
      width: 20vw;
  }
}

@media only screen and (min-width: 1200px){
  .section-h-proj::after{
      left:40%;
      top: -12px;
      width: 30vw;
  }
}

